#register input[type=text], #register input[type=password],
#register select, #register input[type=email] {
    width: 100%;
    padding: 4px 12px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

#register input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 4px 12px;
    margin: 4px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#register input[type=submit]:hover {
    background-color: #45a049;
}

#register {
    border-radius: 1px;
    background-color: #f2eed7;
    padding: 6px;
    width: 60%;
}