<!DOCTYPE html>
<html lang="en">
{% load static from staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css files added by Ma -->
    <link rel="stylesheet" type="text/css" href="{% static "css/css.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "css/w3.css" %}" media="screen" />
    <title>{% block title %}
    CS542 Project
    {% endblock %}</title>
    <!-- default: CS542 Project added by Ma -->
    <style>
        body,h1,h2,h3,h4,h5,h6 {
            font-family: "Raleway",Arial,Helvetica,sans-serif
        }.myLink {display: none}
    </style>
</head>
<body class="w3-light-grey">
    <!-- Navigation Bar -->
    <div class="w3-bar w3-white w3-border-bottom w3-xlarge">
        <a href="#" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b><i class="fa fa-map-marker w3-margin-right"></i>Logo</b></a>
        <a href="/navigator/{{ "home" }}/" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b>HOME</b></a>
        <a href="/navigator/{{ "account" }}/" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b>ACCOUNT</b></a>
        <a href="/navigator/{{ "travel" }}/" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b>TRAVEL</b></a>
        <a href="/navigator/{{ "about" }}/" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b>ABOUT</b></a>
    </div>

    <div class="w3-container w3-center">
        <h6>Hello, {% if user.is_authenticated %}
                {{ user.last_name }}. Click <a href="/navigator/{{ "signout" }}/">sign out</a>.
            {% else %}
                please <a href="/navigator/{{ "signin" }}/">sign in</a> or <a href="/navigator/{{ "register" }}/">register</a>.
            {% endif %}
        </h6>
    </div>

    {% block content %}

    {% endblock %}
    <footer class="w3-container w3-center w3-opacity w3-margin-bottom">
        <h5>Find Us On</h5>
        <div class="w3-xlarge w3-padding-16">
            <i class="fa fa-facebook-official w3-hover-text-indigo"></i>
            <i class="fa fa-instagram w3-hover-text-purple"></i>
            <i class="fa fa-snapchat w3-hover-text-yellow"></i>
            <i class="fa fa-pinterest-p w3-hover-text-red"></i>
            <i class="fa fa-twitter w3-hover-text-light-blue"></i>
            <i class="fa fa-linkedin w3-hover-text-indigo"></i>
        </div>
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
    </footer>
</body>
</html>