{% extends "base.html" %}
{% load static from staticfiles %}
{% block user_status %}

{% endblock %}
{% block head %}

{% endblock %}
{% block title %}
Hotel Search
{% endblock %}
{% block content %}
    {% if order_status %}
    <form action="{% url 'comfirm_hotel_order' %}" method="post">{% csrf_token %}
        <table class="w3-table-all">
            <tr>
                <td>
                    <label>Order Detail</label>
                </td>
            </tr>
            <tr>
                <td><label>Date</label></td>
                <td>From {{ checkin }} to {{ checkout }}. <br>{{ period }} day(s)</td>
            </tr>
            <tr>
                <td><label>Hotel Name</label></td>
                <td>{{ ohotel.name }}</td>
            </tr>
            <tr>
                <td><label>Type</label></td>
                <td>{{ ohotel.type }}</td>
            </tr>
            <tr>
                <td><label>Address</label></td>
                <td>{{ ohotel.address }}, {{ ohotel.city }}, {{ ohotel.state }}</td>
            </tr>
            <tr>
                <td><label>Room type</label></td>
                <td>{{ oroom.type }}</td>
            </tr>
            <tr>
                <td><label>Room Description</label></td>
                <td>{{ oroom.description }}</td>
            </tr>
        </table>

        <table class="w3-table-all">
            <tr>
                Order Summary
            </tr>
            <tr>
                <td>Item</td>
                <td>$ {{ oroom.price }}</td>
            </tr>
            <tr>
                <td>Nights</td>
                <td>{{ period }}</td>
            </tr>
            <tr>
                <td>Order total</td>
                <td>$ <input type="text" style="text-align: right;" id="order_summary" name="order_summary" readonly="readonly"/></td>
            </tr>
        </table>
        <input type="hidden" id="hid" name="hid" value="{{ ohotel.hotel_id }}" />
        <input type="hidden" id="choice" name="choice" value="{{ oroom.room_no }}" />
        <input type="hidden" id="indate" name="indate" value="{{ checkin }}" />
        <input type="hidden" id="outdate" name="outdate" value="{{ checkout }}" />
        <br><br>
        <input class="w3-button w3-dark-grey" type="submit" id="submit" name="submit" value="Submit" />&nbsp&nbsp&nbsp
        <button class="w3-button w3-dark-grey" onclick="window.location.href='/navigator/{{ "hotel" }}/'">Re-Search</button>
    </form>
    {% endif %}
<script>
        function calTotal(){
            var total = {{ oroom.price }} * {{ period }};
            $("#order_summary").val(total);
        }

        document.getElementsByTagName('body')[0].onload = calTotal();
</script>
{% endblock %}