{% extends "base.html" %}
{% load static from staticfiles %}
{% block user_status %}

{% endblock %}
{% block head %}
    <script>
        $(function() {
            $("#scity").autocomplete({
                source: "/get_citys/",
                minLength: 2,
            });
        });
    </script>
{% endblock %}
{% block title %}
Hotels
{% endblock %}

{% block content %}
<h1>Hotels</h1>
    <button class="w3-button w3-dark-grey" onclick="window.location.href='/navigator/{{ "hotel" }}/'">Re-Search</button>
    <form action="{% url "signin" %}" method="post">
    {% if hotels %}
        <table border="1">
            <tr>
                <th>Hotel Name</th>
                <th>State</th>
                <th>City</th>
                <th>Address</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        {% for hotel in hotels %}
            <tr>
                <td><a href="/room_hotel/{{ hotel.hotel_id }}/">{{ hotel.name }}</a></td>
                <td><label>{{ hotel.state }}</label></td>
                <td><label>{{ hotel.city }}</label></td>
                <td><label>{{ hotel.address }}</label></td>
                <td><label>{{ hotel.type }}</label></td>
                <td><label>{{ hotel.description }}</label></td>
                <input type="hidden" id="hid" name="hid" value="{{ hotel.hotel_id }}" />
            </tr>
        {% endfor %}
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if hotels.has_previous %}
                    <a href="?page={{ hotels.previous_page_number }}?scity={{ b }}?htype={{ a }}">previous</a>
               {% endif %}
            </span>
            <span class="current">
                Page {{ hotels.number }} of {{ hotels.paginator.num_pages }}
            </span>

            {% if hotels.has_next %}
                <a href="?page={{ hotels.next_page_number }}?scity={{ b }}?htype={{ a }}">next</a>
            {% endif %}
        </div>

    {% endif %}
    <input type="hidden" name="scity" id="scity" value="{{ b }}" />
    <input type="hidden" name="htype" id="htype" value="{{ a }}" />
    </form>
{% endblock %}