{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
Travel
{% endblock %}
{% block content %}
<!-- Header -->
    <header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
      <img class="w3-image" src="{% static "images/logo.jpg" %}" alt="London" width="1500" height="500">
      <div class="w3-display-middle" style="width:65%">
        <div class="w3-bar w3-black">
          <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Train');"><i class="fa fa-plane w3-margin-right"></i>Train</button>
          <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Hotel');"><i class="fa fa-bed w3-margin-right"></i>Hotel</button>
        </div>

        <!-- Tabs -->
        <div id="Train" class="w3-container w3-white w3-padding-16 myLink">
          <h3>Travel the world with us</h3>
          <form action="{% url 'search_trains' %}" method="post">{% csrf_token %}
						<div class="w3-row-padding" style="margin:8px -16px;">
							<div class="w3-half">
								<label>Departure City</label>
									<select class="selectpicker" name="dp" data-live-search="true" title="Select departure city..." data-width="100%"
													data-size="10" data-show-subtext="true">
										{% if city_list %}
											{% for city in city_list %}
												<option value={{ city.cid }} data-subtext={{ city.state }} >{{ city.city }}</option>
											{% endfor %}
										{% endif %}
									</select>
							</div>
							<div class="w3-half">
								<label>Arrival City</label>
								<select class="selectpicker" name="ar" data-live-search="true" title="Select arrival city..." data-width="100%"
													data-size="10" data-show-subtext="true">
										{% if city_list %}
											{% for city in city_list %}
												<option value={{ city.cid }} data-subtext={{ city.state }} >{{ city.city }}</option>
											{% endfor %}
										{% endif %}
									</select>
{#								<input class="w3-input w3-border" name="arrival-city" type="text" placeholder="Arriving at">#}
							</div>
						</div>
						<div class="w3-row-padding" style="margin:8px -16px;">
            <div class="w3-half">
              <input class="w3-input w3-border" type="date" name="dd" value="2017-05-08">
            </div>
            <div class="w3-half">
{#                <button class="w3-button w3-dark-grey" href="/navigator/{{ "hotel" }}/">Search and find dates</button>#}
                <input class="w3-button w3-dark-grey" type="submit" value="Search">
            </div>
            </div>
{#          <p><button class="w3-button w3-dark-grey" href="/navigator/{{ "hotel" }}/">Search and find dates</button></p>#}
					</form>
        </div>

        <div id="Hotel" class="w3-container w3-white w3-padding-16 myLink">
          <h3>Find the best hotels</h3>
          <form action="{% url 'search_hotel' %}" method="post">{% csrf_token %}
						<div class="w3-row-padding" style="margin:8px -16px;">
							<div class="w3-half">
{#								<div class="ui-widget">#}
                        <label for="scity">City</label>
                        <input class="w3-input w3-border" id="scity" name="scity">
{#                    </div>#}
{#								<label>Departure City</label>#}
{#									<select class="selectpicker" name="dp" data-live-search="true" title="Select departure city..." data-width="100%"#}
{#													data-show-subtext="true">#}
{#										{% if city_list %}#}
{#											{% for city in city_list %}#}
{#												<option value={{ city.cid }} data-subtext={{ city.state }} >{{ city.city }}</option>#}
{#											{% endfor %}#}
{#										{% endif %}#}
{#									</select>#}
							</div>
							<div class="w3-half">
								<div class="w3-half">
									<label for="htype">Type</label>
								<input class="w3-input w3-border" type="text" id="htype" name="htype" list="htype_datalist" autocomplete="false">
								<datalist id="htype_datalist">
									<option value="ALL">
									<option value="1">
									<option value="2">
									<option value="3">
									<option value="4">
									<option value="5">
								</datalist>

{#								<select class="w3-input w3-border" id="htype" name="htype">#}
{#                        <option value="0">All</option>#}
{#                        <option value="1">1</option>#}
{#                        <option value="2">2</option>#}
{#                        <option value="3">3</option>#}
{#                        <option value="4">4</option>#}
{#                        <option value="5">5</option>#}
{#                    </select>#}
							</div>
								<div class="w3-half">
									<label for="submit">.</label>
							<input class="w3-button w3-dark-grey w3-border" type="submit" id="submit" name="submit" value="Search" style="width: 100%"/>
{#              <input class="w3-input w3-border" type="date" name="dd" value="2017-05-08">#}
            </div>
							</div>


						</div>
{#						<div class="w3-row-padding" style="margin:8px -16px;">#}
{#            <div class="w3-half" style="float: right;">#}
{#                <button class="w3-button w3-dark-grey" href="/navigator/{{ "hotel" }}/">Search and find dates</button>#}
{#							<input class="w3-button w3-dark-grey" type="submit" id="submit" name="submit" value="Search" />#}
{#                <input class="w3-button w3-dark-grey" type="submit" value="Search">#}
{#            </div>#}
{#            </div>#}
{#          <p><button class="w3-button w3-dark-grey" href="/navigator/{{ "hotel" }}/">Search and find dates</button></p>#}
					</form>
        </div>
      </div>
    </header>

    <!-- Content -->
    <div class="w3-content" style="max-width:1100px; z-index:-1">
      <div class="w3-container w3-margin-top">
        <h3>Good Offers Right Now</h3>
        <h6>Up to <strong>50%</strong> discount.</h6>
      </div>
      <div class="w3-row-padding w3-text-white w3-large" style="z-index:-1">
        <div class="w3-half w3-margin-bottom">
{#          <div class="w3-display-container">#}
					<div>
            <img src="{% static "images/pic1.jpg" %}" alt="Switzerland" style="width:100%; z-index: -1;">
						<div class="w3-display-container">
              <span class="w3-display-bottomleft w3-padding"><a href="/room_hotel/6/">Zermatt</a></span>
						</div>
          </div>
        </div>
        <div class="w3-half">
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half w3-margin-bottom">
{#              <div class="w3-display-container">#}
							<div>
                <img src="{% static "images/pic2.jpg" %}" alt="Switzerlnad" style="width:100%">
								<div class="w3-display-container">
									<span class="w3-display-bottomleft w3-padding"><a href="/room_hotel/11/">Pilatus</a></span>
								</div>

              </div>
            </div>
            <div class="w3-half w3-margin-bottom">
{#              <div class="w3-display-container">#}
							<div>
                <img src="{% static "images/pic3.jpg" %}" alt="Rome" style="width:100%">
                  <span class="w3-display-bottomleft w3-padding"><a href="/room_hotel/26/">Rome</a></span>
              </div>
            </div>
          </div>
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half w3-margin-bottom">
{#              <div class="w3-display-container">#}
							<div>
                <img src="{% static "images/pic4.jpg" %}" alt="Pisa" style="width:100%">
								<div class="w3-display-container">
                <span class="w3-display-bottomleft w3-padding">Pisa</span>
								</div>
              </div>
            </div>
            <div class="w3-half w3-margin-bottom">
{#              <div class="w3-display-container">#}
							<div>
                <img src="{% static "images/pic5.jpg" %}" alt="Paris" style="width:100%">
								<div class="w3-display-container">
                <span class="w3-display-bottomleft w3-padding">Paris</span>
								</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Explore Nature -->
      <div class="w3-container">
        <h3>Explore Nature</h3>
        <p>Travel with us and see nature at its finest.</p>
      </div>
      <div class="w3-row-padding">
        <div class="w3-half w3-margin-bottom">
          <img src="{% static "images/pic6.jpg" %}" alt="Norway" style="width:100%">
          <div class="w3-container w3-white">
            <h3>West Coast, Norway</h3>
            <p class="w3-opacity">Roundtrip from $79</p>
            <p>Travel from Bergen to Geirangerfjord，and enjoy the spectacular view of norway fjord.</p>
            <button class="w3-button w3-margin-bottom">Buy Tickets</button>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <img src="{% static "images/pic7.jpg" %}" alt="Austria" style="width:100%">
          <div class="w3-container w3-white">
            <h3>Hallstatt, Austria</h3>
            <p class="w3-opacity">One-way from $39</p>
            <p>At Hallstatt, you are immersed in the harmony bewteen nature and human.</p>
            <button class="w3-button w3-margin-bottom">Buy Tickets</button>
          </div>
        </div>
      </div>
    <!-- End page content -->
    </div>


    <script>
        // Tabs
        function openLink(evt, linkName) {
          var i, x, tablinks;
          x = document.getElementsByClassName("myLink");
          for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablink");
          for (i = 0; i < x.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
          }
          document.getElementById(linkName).style.display = "block";
          evt.currentTarget.className += " w3-red";
        }
        // Click on the first tablink on load
        document.getElementsByClassName("tablink")[0].click();

        $(function() {
            $("#scity").autocomplete({
                source: "/get_citys/",
                minLength: 2,
            });
        });
    </script>

{% endblock %}