{% extends "base.html" %}
{% block title %}
Travel
{% endblock %}
{% block content %}
Wikitravel is a web-based collaborative travel guide project, based upon the wiki model, launched by Evan Prodromou and Michele Ann Jenkins in 2003.[3][4] The site is a multi-lingual effort which aims to cover all of the globe's destinations and also hosts a free media repository known as Wikitravel Shared. In 2006, Internet Brands bought the trademark and servers and later introduced advertising to the website.[5] This move met opposition from users, with many German and Italian editors leaving in December 2006 for a newly established wiki, Wikivoyage.
Wikitravel received a Webby Award for Best Travel Website in 2007.[6] The same year, Wikitravel's founders began Wikitravel Press, a now-defunct project which published printed travel guides based on the website's content.[7] The first print guides were released on February 1, 2008.
In 2012, a large portion of the editing community, including the founders, left and brought their contributions to the Wikivoyage project, which was relaunched as a Wikimedia Foundation-hosted project in January 2013.
{% endblock %}