{% extends "base.html" %}
{% block title %}
User Register
{% endblock %}

{% block content %}
<div class="w3-content" style="max-width:1100px;">
    <h3>Please fill in the information</h3>
    <div style="width:65%">
        <form action="{% url 'register' %}" method="post">{% csrf_token %}
            <label for="fname">First Name</label>
            <input class="w3-input w3-border" type="text" id="fname" name="firstname" placeholder="Your name.." maxlength="50">
            <br>
            <label for="lname">Last Name</label>
            <input class="w3-input w3-border" type="text" id="lname" name="lastname" placeholder="Your last name.." maxlength="50">
            <br>
            <label for="email">Email</label>
            <input class="w3-input w3-border" type="email" id="email" name="email">
            <br>
            <label for="pwd">Password</label>
            <input class="w3-input w3-border" type="password" id="pwd" name="pwd" maxlength="50">
            <br>
            <label for="pwd_re">Verify Password</label>
            <input class="w3-input w3-border" type="password" id="pwd_re" name="pwd_re" maxlength="50">
            <br>
            <label for="state">State</label>
            <select class="w3-input w3-border" id="state" name="state">
                <option value="MA">MA</option>
                <option value="FL">FL</option>
                <option value="NY">NY</option>
            </select>
            <br>
            <label for="city">City</label>
            <input class="w3-input w3-border" type="text" id="city" name="city" maxlength="20">
            <br>
            <label for="address">Address</label>
            <input class="w3-input w3-border" type="text" id="address" name="address" maxlength="50">
            <br>
            <label for="zipcode">Zip Code</label>
            <input class="w3-input w3-border" type="text" id="zipcode" name="zipcode" maxlength="5">
            <br>
            <input class="w3-button w3-dark-grey" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}