{% extends "base.html" %}
{% load static from staticfiles %}
{% block user_status %}

{% endblock %}
{% block head %}

{% endblock %}
{% block title %}
Hotel Detail
{% endblock %}

{% block content %}
<h1>Hotels</h1>
    <button class="w3-button w3-dark-grey" onclick="window.location.href='/navigator/{{ "hotel" }}/'">Re-Search</button>
    {% if hotel %}
        <table class="w3-table-all">
            <tr>
                <td>Hotel Name</td>
                <td>{{ hotel.name }}</td>
            </tr>
            <tr>
                <td>Hotel Address</td>
                <td>{{ hotel.address }}, {{ hotel.city }}, {{ hotel.state }}</td>
            </tr>
            <tr>
                <td>Hotel Description</td>
                <td>{{ hotel.description }}</td>
            </tr>
            <tr>
                <td>Hotel Type</td>
                <td>{{ hotel.type }}</td>
            </tr>
        </table>
    {% endif %}
    <form action="{% url "order_hotel" %}" method="post" onsubmit="return validateForm()">

    {% if hotel_room %}
        <table class="w3-table-all">
            <tr>
                <td>Check in</td>
                <td>Check out</td>
            </tr>
            <tr>
                <td>
                    <input type="date" name="indate" id="indate" />
                </td>
                <td>
                    <input type="date" name="outdate" id="outdate" />
                </td>
            </tr>
        </table>
        <table class="w3-table-all">
            <tr>
                <th>Choice</th>
                <th>Overview</th>
                <th>Type</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        {% for room in hotel_room %}
            <tr>
                <td><input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ room.room_no }}"></td>
                <!-- <td><input type="submit" value="Order" name="order" id="order" /></td> -->

                <td><img src="{% static "images/rooms/hid_19_room_1.jpg" %}" height="100" width="100"></td>
                <td><label>{{ room.type }}</label></td>
                <td><label>{{ room.price }}</label></td>
                <td><label>{{ room.description }}</label></td>
                <input type="hidden" id="hid" name="hid" value="{{ hotel.hotel_id }}" />

            </tr>
        {% endfor %}
        </table>

        {% if user.is_authenticated %}
            <input type="submit" name="submit" id="submit" value="Submit" />
        {% else %}
            please <a href="/navigator/{{ "signin" }}/">sign in</a> or <a href="/navigator/{{ "register" }}/">register</a> to order.
        {% endif %}


    {% endif %}

    </form>

    <script>
        $(document).ready(function(){
            var today = new Date();
            var nextday = new Date();
            var dd = today.getDate();
            var dd2 = today.getDate() + 1;
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();

            if(dd<10) {
                dd='0'+dd
            }

            if(dd2<10) {
                dd2='0'+dd2
            }

            if(mm<10) {
                mm='0'+mm
            }

            today = yyyy + '-' + mm+'-'+dd;
            nextday = yyyy + '-' + mm+'-'+dd2;
            $('#indate').val(today);

            $('#outdate').val(nextday);

            // $('#choice1').check();
        });

        function validateForm() {
            var r = $('input:radio[name=choice]').is(':checked');
            if(!r){
                alert("Please select a room!");
                return false;
            }
            return true;
        }
    </script>
{% endblock %}