{% extends "base.html" %}
{% load static from staticfiles %}
{% block user_status %}

{% endblock %}
{% block head %}
    <script>
        $(function() {
            $("#scity").autocomplete({
                source: "/get_citys/",
                minLength: 2,
            });
        });
    </script>
{% endblock %}
{% block title %}
Hotel Detail
{% endblock %}

{% block content %}
<h1>Hotels  {{ a }} {{ b }}</h1>
    <button class="w3-button w3-dark-grey" onclick="window.location.href='/navigator/{{ "hotel" }}/'">Re-Search</button>
    <form action="{% url "signin" %}" method="post">
    {% if hotel_room %}
        <table border="1">
            <tr>
                <td>Choice</td>
                <td>Type</td>
                <td>Price</td>
                <td>Description</td>
            </tr>
        {% for room in hotel_room %}
            <tr>
                <td><a href="">{{ hotel.name }}</a></td>
                <td><label>{{ hotel.state }}</label></td>
                <td><label>{{ hotel.city }}</label></td>
                <td><label>{{ hotel.type }}</label></td>
                <td><label>{{ hotel.description }}</label></td>
                <input type="hidden" id="hid" name="hid" value="{{ hotel.hotel_id }}" />
            </tr>
        {% endfor %}
        </table>

    {% endif %}

    </form>
{% endblock %}