{% extends "base.html" %}
{% block title %}
Train List
{% endblock %}
{% block content %}
    <div class="w3-content" style="max-width:1100px;">
		<p>Train Search Result</p>
		{% if result_list %}
			<table border="1">
            <tr>
								<th>Train No</th>
                <th>Departure City</th>
                <th>Arrival City</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
								<th>Price</th>
								<th></th>
            </tr>
        {% for train_info_url, departure_city, arrival_city, price in result_list %}
            <tr>
                <td><label>{{ departure_city.train.train_no }}</label></td>
                <td><label>{{ departure_city.arrival_city }}</label></td>
                <td><label>{{ arrival_city.arrival_city }}</label></td>
								<td><label>{{ departure_city.arrival_time }}</label></td>
                <td><label>{{ arrival_city.arrival_time }}</label></td>
                <td><label>{{ price }}</label></td>
								<td><a href="/train_info/{{ train_info_url }}/">Order</a></td>
            </tr>
        {% endfor %}
        </table>
		{% endif %}
    </div>
{% endblock %}